*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Courier, sans-serif;
  color: #556070;
}
header {
  display:flex;
  justify-content: center;
}
nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-menu {
  padding-left: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}
.nav-menu li{
  list-style: none;
  padding: 40px 20px;
}
.nav-menu a {
  text-decoration: none;
  color:#556070;
  font-size: 20px;
  font-weight: 600;
}
.my-pic2{
  display: none;
}
a:hover{
  cursor: pointer;
  color: #7843e9;
}
main {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}
.intro {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 40px 0;
}
h1 {
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}
h2 {
  border-bottom: 5px solid #7843e9;
  display:inline-block;
  margin: 0 0 20px 20px;
}
.box1 {
  flex: 1;
  padding-left: 20px;
}
.box2 {
  flex: 1;
}
.box2 h2{
  border-bottom: none;
  color:#7843e9;
}

#aboutMe, #skills, #projects, #education, #language, #contact, #code {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}
p{
  text-align: justify;
  line-height: 40px;
  margin: 0 20px;
}
ul {
  padding-left: 40px;
  line-height: 40px;
}
code{
  display: block;
  background-color: black;
  color: white;
}
#code{
  padding-bottom: 0;
}
#projects a{
  text-decoration: none;
  color:#556070;
}
#projects a:hover{
  cursor: pointer;
  color:#7843e9;
}
#contact a {
  text-decoration: none;
  color:#556070;
}
#contact a:hover{
  color:#7843e9;
  cursor: pointer;
}
footer {
  background-color: #556070;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}
.link, h5 {
  padding: 40px 20px;
}
.link:hover{
  transform: scale(1.2);
}
@media all and (max-width: 800px){
  .nav-menu a{
    font-size: 16px;
  }
  .my-pic{
    width: 150px;
  }
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 24px;
  }
  #aboutMe, #skills, #education, #language, #contact, #code{
    padding: 20px 0;
  }
}
@media all and (max-width: 540px){
  .my-pic2{
    display:block;
    margin: 10px;
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
  .nav-menu{
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
  }
  .nav-menu li{
    padding: 0;
    margin-left: 20px;
    line-height: 26px;
  }
  .intro{
    width: 90%;
    padding: 20px 0;
  }
  .my-pic{
    display: none;
  }
  .box1{
    display: none;
  }
  .box2{
    text-align: center;
  }
  h1{
    font-size: 28px;
    margin-bottom: 10px;
  }
  h2{
    font-size: 20px;
  }
  .box2 h2{
    margin:0;
  }
  p{
    line-height: 30px;
  }
  ul {
    line-height: 30px;
  }
}